<%- include('partials/contactHeader') %>


<section class="us">
    <div class="container">
        <div class="mainTitle">
            <h1>Contact US</h1>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="content">
                    <div class="para">
                        <p>If you didn't your answer in our <a href="#">FAQs</a>, please feel free to contact one of the departments listed below.Simply click on the appropriate link and send us your questions, concerns and/or feedback</p>
                    </div>

                    <br>
                    <div class="cardList">
                        <ul>
                             <li><a href="#">Starbucks</a><br><p>Starbucks Card services and general Card questions </p></li>
                             <li><a href="#">Starbucks Rewards</a><br> <p>Rewards,stars,levels,pronitions and coupon questions</p></li>
                             <li><a href="#">Starbucks Card Corporate Sales</a><br> <p>Bulk orders of 15 or more Starbucks Cards, eGift or Co-branding, B2B Card inquiries</p></li>
                             <li><a href="#">In our Stores</a><br> <p>Service experience,beverages,food,merchandise,product availabity,WiFi,store location.</p></li>
                             <li><a href="#">Moblie Application</a><br> <p>Questions about Starbucks moblie apps</p></li>
                             <li><a href="#">Starbucks.com Web Site</a><br> <p>User name password problems, website feedback and technical issues</p></li>
                             <li><a href="#">Nutritional Information</a><br> <p>Nutritional facts for Starbucks food and beverages</p></li>
                             <li><a href="#">Starbucks At Home Prodects</a><br> <p>Starbucks refreshers, Botted Frappuccino, bottled & packaged coffee, bottled & packaged Teavana tea, etc.</p></li>
                             <li><a href="#">Company Information</a><br> <p>Corporate social responsibility, investor relations.</p></li>
                             <li><a href="#">Security Video Requests</a><br> <p>For law enforcement agencies and those requesting security video from our retail location.</p></li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-4">
                <div class="content">
                    <div class="servicesTitle">
                       <h2><a href="#">Customer Service Home</a></h2> 
                    </div>

                    <br>
                    <div class="cardList">
                        <ul>
                             <li><strong>Chat</strong><br><a href="#">Chat with us!</a><br><p>Hours: 4Am - 10PM PT, 7 days a week </p></li>
                             <li><strong>Email</strong><br><p>Please use the link on this page to email a specific department</p></li>
                             <li><strong>Phone</strong><br><a href="#">800-Starbuc (800-782-7282)</a><br><p>Hours: 5AM - 8PM PT, 7 days a week</p></li>
                             <li><strong>Holiday Closures</strong><br><p>Our Customer Contact Center will be closed to<br>observe the following US Holiday:<br>New Years Day<br>Memorial Day<br>Inependence Day<br>Labor Day<br> Thanksgiving<br>Christmas</p></li>
                             
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>