<%- include('partials/homeHeader') %>

<section class="committed">
    <div class="container-fluid">
        <div class="content text-center">
          <p>We remain committed to the health and well-being of our-being of our partners and customers. <a href="#"> Learn more</a></p>
        </div>
    </div>
</section>

<section class="summer">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="content text-center">
                   <div class="title">
                       <h1>Play for a chance to win</h1>
                   </div>
                   <div class="para">
                       <p>Over 2.5M prizes and offers are up for grabs, including<br>free coffee, exclusive summer merchandise, instant<br> prizes and up to 30,000 Stars.*</p>
                   </div>
                    <div class="summerButton">
                        <a href="#" class="play">Play now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <div class="images">
                        <img src="/images/StarBucks-summer-Game.jpeg" alt="games">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="summer">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="images">
                        <img src="/images/starbucks Triple shot of sunshine.jpg" alt="sunshine">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content text-center">
                   <div class="title">
                       <h1>Triple shot of sunshine</h1>
                   </div>
                   <div class="para">
                       <p>Our creamy, all-new iced coconutmilk drinks might just<br> be the delicious lift you need.</p>
                   </div>
                    <div class="summerButton">
                        <a href="#" class="play">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="summer">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="content text-center">
                   <div class="title">
                       <h1>Endless yum</h1>
                   </div>
                   <div class="para">
                       <p>Summer on with a Caramel Ribbon Crunch or Mocha<br>Cookie Crumble Frappuccino blended beverage</p>
                   </div>
                    <div class="summerButton">
                        <a href="#" class="play">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <div class="images">
                        <img src="/images/Summer on with a Caramel Ribbon Crunch or Mocha Cookie .jpg" alt="caramel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="uber">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="content text-center">
                    <div class="images">
                        <img src="/images/uber-eat.jpg" alt="eats">
                    </div>
                    <div class="title">
                        <h1>$0 delivery fee** for your first Starbucks® order on<br> Uber Eats</h1>
                    </div>
                    <div class="para">
                        <p>Get your favorite food and drinks delivered.</p>
                    </div>
                    <div class="summerButton">
                        <a href="#" class="order">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="content text-center">
                    <div class="images">
                        <img src="/images/brew and enjoy from the comfort of home.jpg" alt="comfort">
                    </div>
                    <div class="title">
                        <h1>Brew and enjoy from the comfort of home</h1>
                    </div>
                    <div class="para">
                        <p>Get your Starbucks favorites from your grocery provider.</p>
                    </div>
                    <div class="summerButton">
                        <a href="#" class="order">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="summer">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="images">
                        <img src="/images/We will not be bystanders.jpg" alt="bystanders">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content text-center">
                   <div class="title">
                       <h1>We will not be bystanders</h1>
                   </div>
                   <div class="para">
                       <p>We will continue to support racial equity and justice and<br> share how we are taking action</p>
                   </div>
                    <div class="summerButton">
                        <a href="#" class="play">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="necessary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content text-center">
                    <div class="para">
                        <p>*NO PURCHASE NECESSARY. Legal residents of the 50 United States (D.C.) 18 and older and who are<br> members of the Starbucks® Rewards loyalty program at the time of entry. Participating stores only.<br> Ends 8/23/20. To play and for Official Rules, including how to enter without purchase, prizes and<br> odds, visit https://www.starbuckssummergame.com. Void where prohibited. Entrants can receive<br> a maximum of 2 plays per day, plus bonus opportunities to earn additional plays.</p>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content text-center">
                    <div class="para">
                        <p>**Delivery fee waived for new customers only on the first Starbucks order with Uber Eats. Terms,<br> taxes and other fees may apply. Fees subject to change. Menu limited. Restricted delivery area.<br> Available in participating locations only. Prices for Starbucks® items purchased through Uber Eats<br> may be higher than posted in stores or as marked. See the Uber Eats app for details. Limited time<br> offer. May not be combined with other offers, discounts or promotions.</p>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="content text-center">
                    <div class="para">
                        <p>***Offer valid through 8/10/2020 at participating stores. Must pay with your registered Starbucks<br> Card (or your registered Card in the app). Not valid on purchases of alcohol, Starbucks Cards or<br> Starbucks Card reloads. Free drink redeemed as 150 Stars, valid for one standard-menu size<br> handcrafted beverage (excluding alcohol and multi-serve items). New Starbucks Rewards<br> members only. See Starbucks.com/rewards for program details.</p>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>