<%- include('partials/menuHeader') %>


<section class="drinks">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="content">
                    <div class="title">
                        <h4>Drinks</h4>
                    </div>
                    <nav class="nav flex-column">
                        <li><a href="#" class="nav-link">Hot Coffees</a></li>
                        <li><a href="#" class="nav-link">Hot Drinks</a></li>
                        <li><a href="#" class="nav-link">Hot Teas</a></li>
                        <li><a href="#" class="nav-link">Frappuccino Blended Beverages</a></li>
                        <li><a href="#" class="nav-link">Cold Coffees</a></li>
                        <li><a href="#" class="nav-link">Iced Teas</a></li>
                        <li><a href="#" class="nav-link">Cold Drinks</a></li>
                    </nav>
                    <br>
                    <div class="title">
                        <h4>Food</h4>
                    </div>
                    <nav class="nav flex-column">
                        <li><a href="#" class="nav-link">Hot Breakfast</a></li>
                        <li><a href="#" class="nav-link">Bakery</a></li>
                        <li><a href="#" class="nav-link">Lunch</a></li>
                        <li><a href="#" class="nav-link">Snack & Sweet</a></li>
                        <li><a href="#" class="nav-link">Yogurt & Custard</a></li>
                    </nav>
                    <br>
                    <div class="title">
                        <h4>At Home Coffee</h4>
                    </div>
                    <nav class="nav flex-column">
                        <li><a href="#" class="nav-link">Whole Bean</a></li>
                        <li><a href="#" class="nav-link">Versmio Pods</a></li>
                        <li><a href="#" class="nav-link">VIA Instant</a></li>
                        <li><a href="#" class="nav-link">Cold Brew</a></li>
                        <li><a href="#" class="nav-link">Cold Brew</a></li>
                    </nav>
                    <br>
                    <div class="title">
                        <h4>Merchandise</h4>
                    </div>
                    <nav class="nav flex-column">
                        <li><a href="#" class="nav-link">Drinkware</a></li>
                    </nav>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="content">
                   <div class="mainTitle">
                       <h1>Menu</h1>
                   </div>
                   <div class="tc">
                       <h2>Drink</h2>
                   </div>

                   <div class="row">
                       <div class="col-lg-6">
                           <div class="images">
                               <img src="/images/starbuck hot coffee.jpg" alt="coffee">
                           </div>
                           <div class="para">
                            <p>Hot Coffee</p>
                           </div>
                       </div>
                       <div class="col-lg-6">
                        <div class="images">
                            <img src="/images/starbuck hot tea.jpg" alt="hotTea">
                        </div>
                        <div class="para">
                         <p>Hot Teas</p>
                        </div>
                    </div>
                   </div>

                   <div class="row">
                    <div class="col-lg-6">
                        <div class="images">
                            <img src="/images/starbucks hot drinks.jpg" alt="hotDrink">
                        </div>
                        <div class="para">
                         <p>Hot Drink</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                     <div class="images">
                         <img src="/images/starbucks frappuccino.jpg" alt="frappuccino">
                     </div>
                     <div class="para">
                      <p>Frappuccino Blended Beverages</p>
                     </div>
                 </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="images">
                            <img src="/images/starbucks cold coffee.jpg" alt="coldCoffee">
                        </div>
                        <div class="para">
                         <p>Cold Coffees</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                     <div class="images">
                         <img src="/images/starbucks iced tea.jpg" alt="iceTea">
                     </div>
                     <div class="para">
                      <p>Iced Tea</p>
                     </div>
                 </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="images">
                            <img src="/images/starbucks cold drinks.jpg" alt="coldDrink">
                        </div>
                        <div class="para">
                         <p>Cold Drinks</p>
                        </div>
                    </div>
                </div>
                </div>




                <div class="content">
                
                    <div class="tc">
                        <h2>Food</h2>
                    </div>
 
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="images">
                                <img src="/images/starbucks hot breakfast.jpg" alt="breakfast">
                            </div>
                            <div class="para">
                             <p>Hot Breakfast</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="images">
                             <img src="/images/starbucks bakery.jpg" alt="bakery">
                         </div>
                         <div class="para">
                          <p>Bakery</p>
                         </div>
                     </div>
                    </div>
 
                    <div class="row">
                     <div class="col-lg-6">
                         <div class="images">
                             <img src="/images/starbucks Lunch.jpg" alt="lunch">
                         </div>
                         <div class="para">
                          <p>Lunch</p>
                         </div>
                     </div>
                     <div class="col-lg-6">
                      <div class="images">
                          <img src="/images/starbucks snacks and sweets.jpg" alt="sweets">
                      </div>
                      <div class="para">
                       <p>Snacks & Sweets</p>
                      </div>
                  </div>
                 </div>
 
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="images">
                             <img src="/images/starbucks yogurt.jpg" alt="yogurt">
                         </div>
                         <div class="para">
                          <p>Yogurt & Custard</p>
                         </div>
                     </div>
                 </div>
                 </div>

                 <div class="content">
                
                    <div class="tc">
                        <h2>At Home Coffee</h2>
                    </div>
 
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="images">
                                <img src="/images/starbucks whole bean.jpeg" alt="wholeBean">
                            </div>
                            <div class="para">
                             <p>Whole Bean</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="images">
                             <img src="/images/verismo pod.jpg" alt="verismo">
                         </div>
                         <div class="para">
                          <p>Versmio Pods</p>
                         </div>
                     </div>
                    </div>
 
                    <div class="row">
                     <div class="col-lg-6">
                         <div class="images">
                             <img src="/images/via instant.jpg" alt="via">
                         </div>
                         <div class="para">
                          <p>VIA Instant</p>
                         </div>
                     </div>
                     <div class="col-lg-6">
                      <div class="images">
                          <img src="/images/cold Brew.jpeg" alt="brew">
                      </div>
                      <div class="para">
                       <p>Cold Brew</p>
                      </div>
                  </div>
                 </div>
                 </div>

                 <div class="content">
                
                    <div class="tc">
                        <h2>Merchandise</h2>
                    </div>
 
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="images">
                                <img src="/images/starbucks drinkware.jpg" alt="drinkWare">
                            </div>
                            <div class="para">
                             <p>Drinkware</p>
                            </div>
                        </div>
                       
                    </div>
 
                   
                 </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>

