<%- include('partials/rewardsHeader') %>

<section class="programs">
    <div class="container">
        <div class="row">
 
          
            <div class="col-lg-12">
             <div class="content">
                 <div class="title">
                    <h2>Coming this fall, more ways to pay</h2>
                 </div>
                 <div class="para">
                    <p>Introducing more ways to pay and earn free drinks through the starbucks app. It's the same great<br>program,
                    but joining and esrning Rewards will soon be easier the ever. <a href="#">See our updated Terms of Use for detail</a></p>
                </div>
             </div>

             <hr>
            </div>
           
        </div>
        
    </div>
</section>

<section class="feeling">
    <div class="container">
        <div class="mainTitle">
            <h2>That First sip feeling</h2>
        </div>
        <div class="smallPara">
            <p>Say hello to easy ordering, endless choices and-yes, free coffee</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-12">
              <div class="content">
                <div class="images text-center">
                        
                    <img src="/images/Get_free_food__drinks___more-removebg-preview (1).png" alt="more">
 
                   </div>
                  <div class="para text-center">
                      <p>Get free Food, drinks & more</p>
                  </div>
              </div>
   
             
               </div>
               <div class="col-lg-4 col-12">
                <div class="content">
                    <div class="images text-center">
                        
                        <img src="/images/Order ahead & pay with your phone.png" alt="phone">
     
                       </div>
                    <div class="para text-center">
                        <p>Order ahead & pay with your phone</p>
                    </div>
                </div>
     
               
                 </div>
                 <div class="col-lg-4 col-12">
                    <div class="content">
                        <div class="images text-center">
                        
                            <img src="/images/free_brewed_coffee___tea_refill-removebg-preview.png" alt="brewed">
         
                           </div>
                        <div class="para text-center">
                            <p>Free brewed coffee & tea refill</p>
                        </div>
                    </div>
         
                   
                     </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-12">
              <div class="content">
                <div class="images text-center">
                        
                    <img src="/images/elebrate_with_a_birthday_treat-removebg-preview (1).png" alt="birthday">
 
                   </div>
                  <div class="para text-center">
                      <p>Celebrate with a birthday treat</p>
                  </div>
              </div>
   
             
               </div>
               <div class="col-lg-4 col-12">
                <div class="content">
                    <div class="images text-center">
                        
                        <img src="/images/two stars.gif" alt="two">
     
                       </div>
                    <div class="para text-center">
                        <p>Double-Star Days, Bonus Stars & <br> games</p>
                    </div>
                </div>
     
               
                 </div>
                 <div class="col-lg-4 col-12">
                    <div class="content">
                        <div class="images text-center">
                        
                            <img src="/images/exclusive_offers_personalized_for_you-removebg-preview.png" alt="exclusive">
         
                           </div>
                        <div class="para text-center">
                            <p>Free brewed coffee & tea refill</p>
                        </div>
                    </div>
         
                   
                     </div>
        </div>

        <div class="joinButton">
            <a href="#" class="join">Join Now</a>
        </div>
  <br>
  <br>
  
        <div class="mainTitle">
            <h2>Get your favorite things for free</h2>
        </div>
        <div class="smallPara">
            <p>Fall in love with tiny plus-ups for your everyday coffee. Or revel in knowing that soon, you could<br> have a free lunch waitiing.</p>
        </div>

    </div>
</section>
<br><br>
<section class="customize">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="content">
                    <div class="title">
                        <h3>Customize your drink</h3>
                    </div>
                    <div class="para">
                        <p>Make your drink just right with an extra esperesso<br> shot, dairy substitute or a dash of your favorite<br> syrup</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="content">
                    <div class="images">
                        <img src="/images/starbuck_Customize_your_drink-removebg-preview.png" alt="customize">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>
<section class="feeling">
    <div class="container">
        <div class="mainTitle">
            <h2>Collect Stars every time you visit</h2>
        </div>
        <div class="smallPara">
            <p>As a member you'll collect Stars on almost everything you buy and those Stars add up to (Some<br> realy delicious) Rewards-in as few as 2-3 visits</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <h3><i class="fa fa-star"></i>Collect 2 Stars per $1</h3>
                </div>
                <div class="para">
                    <p>      Everytime you pay using a registered gift card or the app, you'll collect 2 Stars for every dollars.
                        <br>    You can even get Stars at Starbucks stores at U.S. airport, Target and some grocey stories</p>
                </div>
                <div class="divider"></div>
            </div>
    
            <div class="col-lg-12">
                <div class="title">
                    <h3><i class="fa fa-star-half-o"></i>Get ahead with Bonus Stars</h3>
                </div>
                <div class="para">
                    <p>Get Stars even faster with Bonus Stars, games, and offers in the app and in your inbox      </p>
                </div>
                <div class="divider"></div>
            </div>

            <div class="col-lg-12">
                <div class="title">
                    <h3><i class="fa fa-star-o""></i>Don't miss Double Star Day</h3>
                </div>
                <div class="para">
                    <p>Exactly what is sounds like. On Double Star Day, you'll get twice the number of Stars on every<br></p>
                </div>
                <div class="divider"></div>
            </div>
            <div class="col-lg-12">
                <div class="title">
                    <h3><i class="fa fa-star-half""></i>Get even more Stars, faster</h3>
                </div>
                <div class="para">
                    <p>Apply for the <a href="#">Starbucks Reward VIA Card</a> or <a href="#">Starbucks Rewards Via Prepaid Card</a> to earn <br>
                    Stars in and out out of Starbucks stores-and enjoy more Reward</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feeling">
    <div class="container">
        <div class="mainTitle">
            <h2>Getting starting is easy</h2>
        </div>
        <div class="smallPara">
            <p>Whether you visit once a month or every day, we're always glad to see you. And we want you to <br> enjoy Reward. Just sign up, Just sign up, keep drink coffee and you'll stars</p>
        </div>
    </div>
</section>

<section class="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content">
                    <div class="images">
                        <img src="/images/Create_an_account-removebg-preview.png" alt="create">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content">
                   <div class="title">
                       <h3>Create an account</h3>
                   </div>
                   <div class="para">
                       <p>Signing up is easy and fast. You can download our <br> very easy, super useful app or join online</p>
                   </div>
                   <div class="accountButton">
                       <a href="#" role="button">Download the app</a>
                       <a href="#" role="button">Sign up online</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="phoneBanner">
    <div class="container-fluid">
        <div class="content">
            <div class="images">

            </div>
        </div>
    </div>
</section>

<section class="downloads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="title">
                        <h3>Download the app for the best experience</h3>
                    </div>
                    <div class="para">
                        <p>Use our app to order ahead and pay-then breeze in pick up coffee on the fly. The app might just be the <br>
                        best part Starbucks Rewards</p>
                    </div>
                    <div class="downloadsButton">
                        <a href="#" role="button">Download the app</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="rewardStarBuck">
    <div class="container-fluid">
        <div class="content">
            <div class="images">

            </div>
        </div>
    </div>
</section>


<section class="downloads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="title">
                        <h3>Starbucks Reward Via Card & Card & Starbucks Rewards Visa Prepaid Card</h3>
                    </div>
                    <div class="para">
                        <p>Want even more Rewards? Apply now for the starbucks Rewards Visa Card or Starbuck Rewards Visa <br> Prepaid Card. Your Stars won't expire, an exclusive Starbucks benefit for cardholders</p>
                    </div>
                    <div class="downloadsButton">
                        <a href="#" role="button">Credit</a>
                        <a href="#" role="button">Prepaid</a>
                    </div>
                    <br><br>
                    <div class="title">
                        <h3>Questions?</h3>
                    </div>
                    <div class="para">
                        <p>We want to help in any way we can. You can ask your barista anytime or we've answered the most <br>
                        commonly asked questions <a href="#">right over here</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="earning">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <div class="title">
                        <h2><strong>Earning Stars</strong></h2>
                    </div>
                    <div class="para">
                        <p>You must pay with your registered Starbucks card (or your registered Card <br> in the mobile app)
                        in order to earn to earn Stars. Stars cannot be earned on <br> purchases of alcohol, Starbucks Cards or Starbucks Card reloads</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="content">
                    <div class="title">
                        <h2><strong>Redeeming Rewards</strong></h2>
                    </div>
                    <div class="para">
                        <p>Rewards may be redeemed at participating stores and exclude alcoholic <br> beverages and multi-serve items. Select stores redeem 150 Stars for food <br> and drinks items only. Availability may vary by store location.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="content">
                    <div class="title">
                        <h2><strong>STAR EXPIRATION</strong></h2>
                    </div>
                    <div class="para">
                        <p>Under the Starbucks® Rewards program, Stars earned do not expire as long as <br> your Starbucks® Rewards Visa® Prepaid Card & Starbucks® Rewards <br> 
                                         Visa® Credit Card account is open. If your Starbucks® Rewards Visa® <br> Prepaid Card & Starbucks® Rewards Visa® Credit Card account is closed for <br> any reason, your Stars will expire six (6) months <br> from the calendar month in which your account was closed.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="content">
                    <div class="title">
                        <h2><strong>Terms of Use</strong></h2>
                    </div>
                    <div class="para">
                        <p> For full details on Stars and Starbucks Rewards program, read our terms <br> of use <a href="#">here</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="content">
                    <div class="para">
                        <p> Chase credit cards are issued by Chase Bank USA, N.A.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>